option_settings:
  - namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: DOMAIN_LINK
    value: test.sk-global.io
  - namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: EMAIL_LINK
    value: bvbinh+ssl1@sk-global.biz
  - namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: PORT
    value: 8080
  - namespace: 'aws:elasticbeanstalk:application'
    option_name: Application Healthcheck URL
    value: /
  - namespace: 'aws:autoscaling:asg'
    option_name: MinSize
    value: '1'
  - namespace: 'aws:autoscaling:asg'
    option_name: MaxSize
    value: '1'
  - namespace: 'aws:elasticbeanstalk:environment'
    option_name: EnvironmentType
    value: SingleInstance
